
body {
  background-color: white;
}


.picture {
  width: 200px;
  display: flex;
  margin: 5px 15px;
}
#container-nav {
  display: flex;
  flex-flow: column;
  align-items: center;
}

header {
  width: 80%;
  background-image: url(Images/Trybe_Capa.jpeg);
  background-size: cover;
  background-position: 50%;
}

#name {
  display: flex;
  justify-content: center;
  background: url(Images/Trybe\ 2.png);
  background-repeat: no-repeat;
  background-position: 75%;
  color: white;
  font-weight: 800;
}

#container-info {
  width: 80%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  border: 1px solid black;

}

#index {
  border: 2px solid black;
}

.botoes {
  margin: 5px;
}