
/* Style Geral */
body {
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: auto;
  width: 98%;
  border-top: 3px dotted black;
  padding: 25px;
}

.transition {
  transition: 1s;
}
/* Style Info Float */

/* Style Header */

.picture {
  width: 15%;
  display: flex;
  margin: 15px 50px;
}

#container-nav {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.header {
  width: 90%;
  background-image: url(Images/Trybe_Capa.jpeg);
  background-size: cover;
  background-position: 50%;
}

#name {
  display: flex;
  background: url(Images/Trybe\ 2.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position-x: 75%;
  background-position-y: 80%;
}

#name p {
  border: none;
  text-align: center;
  color: white;
}

/* Style Float */

#container-info-float {
  width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 20px 0;
}

#about {
  width: 70%;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
}

.index {
  width: 25%;
  display: flex;
  flex-flow: column wrap;
}
.buttons {
  height: 350px;
  margin: 15px 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.btn-success {
  transition: 1s;
}

.btn-success:hover {
  background: url(Images/Trybe\ 2.png) #fff;
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: 50px;
  color: #198754;
  border: 1px solid #198754;
  font-size: 18px;
  font-weight: 600;

}

.btn {
  padding: 5px 20px;
}

.list-group-item:hover {
  background-color: #198754;
  color: white;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

/* Style fora do Float */

#container-info-features {
  text-align: center;
  width: 90%;
  display: flex;
  flex-flow: column wrap;
  margin: auto;
}

#container-contacts-project {
  text-align: center;
  width: 90%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.container-projects {
  display: flex;
  flex-flow: column wrap;
}

.container-projects {
  width: 65%;
}

.projects-fundament {
  display: flex;
  flex-flow: column wrap;
}

.buttons-contatcs {
  width: 30%;
  height: 250px;
  display: flex;
  flex-flow: column wrap;
}

.buttons-contatcs a {
  margin: 10px;
}

.github {
  background: url(Images/GitHub.png) rgba(0, 0, 0, 0.837);
  color: white;
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: 90%;
  transition: 1s;
}

.github:hover {
  background: url(Images/GitHub.png) white;
  color: rgba(0, 0, 0, 0.837);
  font-size: 18px;
  font-weight: 600;
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: 90%;
  border: 2px solid rgba(0, 0, 0, 0.837);
}
.linkidin {
  background: url(Images/LinkiDin.png) #0dcaf0;
  color: white;
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 70px;
  transition: 1s;
}

.linkidin:hover {
  background: url(Images/LinkiDin.png) white;
  color: #0dcaf0;
  font-size: 18px;
  font-weight: 600;
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 80px;
  border: 2px solid #0dcaf0;
}

.links {
  color: black;
  text-decoration: none;
  width: 98%;
  min-height: 30px;
  padding: 5px;
  margin: 10px auto;
  border-bottom: 2px solid rgba(128, 128, 128, 0.414);
  transition: 1s;
}
.links:hover {
  color: #fff;
  text-decoration: none;
  width: 98%;
  min-height: 30px;
  padding: 5px;
  background-color: #198754;
  margin: 10px auto;
  font-size: 18px;
  font-weight: 600;
}

.list-group-item:hover {
  color: white;
}

footer {
  background-color: #198754;
  width: 90%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  color: white;
  font-weight: 600;
}

#ul-pontos-relevantes{
  display: flex;
  flex-flow: column wrap;
}

#div-projetos {
  display: flex;
  flex-flow: column wrap;
}
