/*general Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: montserrat;
}

body {
  background-color: black;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.Select {
  opacity: 100% !important;
  color: white !important;
  font-size: 23px !important;
  font-weight: 600 !important;
  border-bottom: 3px solid #198754;
  padding: 15px 0px !important;
  transition: 0.5s;
}

.header-sections {
  color: #198754;
  padding: 5px;
  width: 80%;
  margin: 5px auto;
}

.fita-trybe {
  width: 100%;
}

/*Header General Medias*/
.header {
  display: flex;
  justify-content: space-around;
  background-color: #343a40;
  position: fixed;
  width: 100%;
  opacity: 50%;
  transition: 0.5s;
  z-index: 1;
  height: 80px;
}

.header:hover {
  opacity: 100%;
}

.header nav {
  width: 50%;
  height: 60px;
  display: flex;
  align-self: center;
  justify-content: space-around;
}

.header a {
  align-self: center;
  font-weight: 600;
  color: white;
  font-weight: 700;
  opacity: 70%;
  padding: 5px;
  margin: 15px;
  transition: 0.5s;
}

.header a:hover {
  border-bottom: 5px solid #198754;
  font-size: 18px;
  opacity: 100%;
}


/* About */

.hero-page {
  background-image: url(Images/teste.png);
  background-position: 100%;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.hero-page p {
  margin: 15px;
}

/*About */

.about {
  display: flex;
  align-items: center;
  min-height: 60vh;
}

.about section {
  margin: 5px 20px;
  text-align: center;
}

.img-jv {
  width: 20%;
  max-width: 150px;
}

/*Pontos Relevantes*/

.menu-pontos {
  text-align: center;
  background-color: #161a1d;
  min-height: 100vh;
}

#pontos-relevantes {
  display: flex;
  flex-flow: row;
  margin: 25px;
}

.links {
  margin: 15px;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-top: 2px solid rgba(128, 128, 128, 0.414);
  opacity: 60%;
  transition: 0.5s;
  width: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.links:hover {
  color: white;
  background-color: #198754;
  font-size: 18px;
  opacity: 100%;
  border-radius: 5px;
}

/*Grid*/
.header-sections {
  font-size: 25px;
}


.grids {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.grids div {
  text-align: center;
  cursor: pointer;
}

.grids .div-vtd,
.div-cle {
  width: 49%;
}

.div-fco {
  margin: auto;
  align-self: center;
  width: 100%;
}

/*Projects*/
.project {
  margin: 0px 15px;
  min-height: 100vh;
}

.div-projects {
  display: flex;
  width: 100%;
  flex-flow: wrap;
  justify-content: space-between;
  cursor: pointer;
}

.div-projects div {
  margin: 10px 15px;
  opacity: 70%;
  transition: 0.5s;
}

.div-projects div:hover {
  margin: 10px 15px;
  opacity: 100%;
}



.style-title {
  color: #198754;
  font-size: 18px;
  font-weight: 600;
  line-height: 10px;
  transition: 0.5s;
}

.style-title:hover {
  font-size: 20px;
  border-bottom: 3px solid white;
}

.projects-apresent {
  display: flex;
  flex-flow: column wrap;
}

.projects-apresent hr {
  color: white;
}


.linksProject {
  width: 50%;
  color: #198754;
  font-size: 20px;
  margin: 30px 15px;
  font-weight: 400;
  padding: 20px;
  border-bottom: 3px solid white;
  transition: 1s;
  opacity: 80%;
  align-self: center;
}

.linksProject:hover {
  opacity: 100%;
  color: white;
  font-weight: 600;
  border: 3px solid white;
  background: url(Images/Trybe\ 2.png);
  background-position: 90%;
  background-size: 50px;
  background-repeat: no-repeat;
}

/*Contatos*/
#contacts {
  background-color: #212529cb;
  padding: 30px 15px;
  min-height: 60vh;
}

.buttons-contatcs {
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.buttons-contatcs .lead {
  font-size: 18px;
  width: 60%;
  align-self: center;
}

.buttons-contatcs .buttons {
  width: 50%;
  margin: 0px 15px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}


.buttons .btn-github,
.btn-linkedin {
  align-self: center;
  text-align: center;
  margin: 15px;
  padding: 15px;
  color: white;
  font-weight: 600;
  border: 2px solid white;
  width: 250px
}

.buttons .btn-github {
  background: url(Images/GitHub.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 80px;
  transition: 0.5s;
}

.buttons .btn-github:hover {
  background: url(Images/GitHub.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 90px;
  font-size: 20px;
  background-color: white;
  color: black;
}

.buttons .btn-linkedin {
  background: url(Images/likedin.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 70px;
  transition: 0.5s;
}

.buttons .btn-linkedin:hover {
  background: url(Images/likedin.png);
  background-position: 110%;
  background-repeat: no-repeat;
  background-size: 80px;
  font-size: 20px;
  background-color: white;
  color: black;
}

/*Footer*/
footer {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  color: #198754;
  font-size: 25px;
}

footer .logo-footer {
  width: 50px;
  margin: 0px 25px;
  animation: myAnimationFooter infinite 5s;
}

@keyframes myAnimationFooter {
  0% {
    width: 50px;
  }

  25% {
    width: 60px;
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

footer .icons {
  margin: 20px;
}

/*Media Query for smartPhone*/
@media screen and (max-width: 900px) {

  /*Header smartPhone*/
  .header {
    height: 60px;
  }

  .header .img-trybe {
    align-self: center;
    animation: myAnimation infinite 5s linear;
    width: 40px;
  }

  @keyframes myAnimation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  /* Hero page SmartPhone */
  .hero-page p {
    margin: 15px 0px;
    font-size: 30px;
  }

  /*About*/
  .about {
    flex-flow: column;
    min-height: 60vh;
  }

  .about section {
    margin: 5px 0px;
    text-align: center;
  }

  .about .img-jv {
    width: 50%;
  }

  /* Pontos Relevante*/
  .links {
    width: 80%;
    margin: 20px auto;
  }

  #pontos-relevantes {
    flex-flow: column wrap;
    
  }

  .header-sections {
    font-size: 20px;
  }

  .grids {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

  .grids div {
    border-bottom: 2px solid #343a40;
  }

  .grids .div-vtd,
  .div-cle {
    width: 100%;
  }

  /*Project*/

  .div-projects {
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
  }


  .linksProject {
    width: 95%;
    font-size: 18px;
  }

  /*Contacts*/
  .title-contat {
    padding: 30px;
  }

  .buttons-contatcs .lead {
    width: 100%;
    text-align: center;
  }

  .buttons-contatcs {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .buttons .btn-github,
  .btn-linkedin {
    width: 100%;
  }

  /*Footer*/
  footer {
    justify-content: space-between;
  }

  footer .logo-footer {
    width: 20px;
  }

  .Select {
    font-size: 23px !important;
  }

  footer {
    font-size: 18px;
  }

  footer .logo-footer {
    width: 40px;
  }

  @keyframes myAnimationFooter {
    0% {
      width: 40px;
    }

    25% {
      width: 60px;
    }

    50% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}

/*Media Query for Screen small*/
@media screen and (min-width: 900px) and (max-width: 1200px) {

  /*Header screen small*/
  .header .img-trybe {
    align-self: center;
    width: 6%;
    padding: 10px;
    width: 70px;
  }

  /* Hero Page Screen small*/
  .hero-page p {
    font-size: 40px;
  }
}

/*Media Query for Screen large*/
@media screen and (min-width: 1200px) {

  /*Header screen large*/
  .header .img-trybe {
    align-self: center;
    padding: 10px;
    width: 70px;
    animation: myAnimation infinite 5s linear;
  }

  @keyframes myAnimation {
    from {
      transform: rotate(360deg);
    }

    to {
      transform: rotate(0ged);
    }
  }

  /* Hero Page screen Large*/
  .hero-page {
    height: 1200px !important;
  }

  .hero-page p {
    font-size: 70px;
  }

  /*About*/
  .about .img-jv {
    width: 15%;
  }
}